@mixin flex($direction:null, $justify:null, $align:null) {
  display: flex;
  @if $direction != null { flex-direction: $direction; }
  @if $justify != null { justify-content: $justify; }
  @if $align != null { align-items: $align; }
  @content;
}


@mixin overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin pseudo-cover-parent {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin increase-hover-target($selector, $pad:15px) {
  &:#{$selector} {
    @include pseudo-cover-parent;
    box-sizing: content-box;
    padding: $pad;
    margin-left: -1 * (nth($pad, 2) or $pad);
    margin-top: -1 * (nth($pad, 1) or $pad);
    @content;
  }
}

@mixin when-retina-screen {
  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    @content
  }
}