/* 
  Sane sizing default. 
  See https://www.paulirish.com/2012/box-sizing-border-box-ftw 
*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* 
  App Baseline
*/
html, body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

body {
  background: #fff;
  overflow: hidden; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }
.ColorPicker {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex: 1;
      flex: 1; }
  .ColorPicker-swatch {
    width: 26px;
    height: 13px;
    border-radius: 2px;
    background-image: url(data:image/png;base64,R0lGODdhCgAKAPAAAOXl5f///ywAAAAACgAKAEACEIQdqXt9GxyETrI279OIgwIAOw==); }
    .ColorPicker-swatch:hover {
      cursor: pointer; }
    .ColorPicker-swatch:before, .ColorPicker-swatch:after {
      content: '';
      position: absolute;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      top: -3px;
      left: -3px; }
    .ColorPicker-swatch:before {
      background: white;
      z-index: -1; }
    .ColorPicker-swatch:after {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
      z-index: 0;
      border-radius: 2px; }
    .ColorPicker-swatch:hover:after {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.33); }
  .ColorPicker-color {
    position: relative;
    height: 100%;
    z-index: 1;
    border-radius: 2px; }
  .ColorPicker-board {
    position: relative;
    width: 100%; }
  .ColorPicker-sliders, .ColorPicker-values {
    width: 100%;
    display: -ms-flexbox;
    display: flex; }
  .ColorPicker-sliders {
    padding-top: 5px; }
  .ColorPicker-values {
    position: relative;
    height: 30px;
    margin: 8px 0; }
  .ColorPicker-swatches {
    width: 100%; }
  .ColorPicker--has-popup {
    -ms-flex-direction: row;
        flex-direction: row; }
  .ColorPicker--isLight .ColorPicker-color,
  .ColorPicker--isLight .PickerRibbon-preview div {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
  .ColorPicker--isLight .PickerRibbon-preview div:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25); }
  .ColorPicker--type-condensed {
    margin-top: 3px; }
  .ColorPicker > .Text {
    -ms-flex: 1;
        flex: 1; }
    .ColorPicker > .Text input {
      width: 100%; }
  .ColorPicker .Popover {
    margin-right: 6px; }
  .ColorPicker .PopoverContent {
    width: 222px;
    right: -3px; }
.ColorInspector {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 2px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: gainsboro; }
  .ColorInspector:hover {
    cursor: crosshair; }
  .ColorInspector-hue, .ColorInspector-value, .ColorInspector-saturation {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 2px; }
  .ColorInspector-value {
    background-image: linear-gradient(transparent 0%, black 100%); }
  .ColorInspector-saturation {
    background-image: linear-gradient(to right, white 0%, transparent 100%);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125); }
  .ColorInspector-handler {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 100%;
    box-shadow: 0 0 1px rgba(120, 120, 120, 0.7), inset 0 0 2px #808080;
    transform: translate(-50%, -50%); }
.ColorSliders-sliders {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex: 1;
      flex: 1;
  padding-right: 5px; }

.ColorSliders-slider-hue, .ColorSliders-slider-alpha {
  position: relative;
  height: 12.5px;
  box-shadow: gray 0px 0px 2px inset; }
  .ColorSliders-slider-hue input[type=range], .ColorSliders-slider-alpha input[type=range] {
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    border: none; }
    .ColorSliders-slider-hue input[type=range]::-webkit-slider-runnable-track, .ColorSliders-slider-alpha input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 12px;
      cursor: pointer; }
    .ColorSliders-slider-hue input[type=range]::-webkit-slider-thumb, .ColorSliders-slider-alpha input[type=range]::-webkit-slider-thumb {
      width: 4px;
      height: 100%;
      margin-top: 0px;
      background-color: white;
      border: 1px solid black;
      border-radius: 3px;
      cursor: pointer;
      -webkit-appearance: none; }
    .ColorSliders-slider-hue input[type=range]:focus, .ColorSliders-slider-alpha input[type=range]:focus {
      outline: none; }

.ColorSliders-slider-hue input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, red 0%, #ff9900 10%, #cdff00 20%, #35ff00 30%, #00ff66 40%, #00fffd 50%, #0066ff 60%, #3200ff 70%, #cd00ff 80%, #ff0099 90%, red 100%); }

.ColorSliders-slider-alpha {
  background-image: url(data:image/png;base64,R0lGODdhCgAKAPAAAOXl5f///ywAAAAACgAKAEACEIQdqXt9GxyETrI279OIgwIAOw==); }
  .ColorSliders-slider-alpha input[type=range] {
    background: none; }

.ColorSliders-slider-alphaGradient {
  position: absolute;
  width: 100%;
  height: 100%; }

.ColorSliders-slider-handle {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 4px;
  margin-left: -2px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  -o-border-image: initial;
     border-image: initial;
  padding: 1px 0px;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .ColorSliders-slider-handle:hover {
    cursor: -webkit-grab; }
  .ColorSliders-slider-handle:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -50%;
    left: -8px; }

.ColorSliders-preview {
  position: relative;
  width: 30px;
  height: 30px;
  box-shadow: gray 0px 0px 2px inset;
  border-radius: 2px;
  overflow: hidden; }
  .ColorSliders-preview:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(data:image/png;base64,R0lGODdhCgAKAPAAAOXl5f///ywAAAAACgAKAEACEIQdqXt9GxyETrI279OIgwIAOw==); }
.Range {
  position: relative; }
  .Range-input {
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
.ColorValues-inputs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  max-width: 100%;
  min-width: 0; }
  .ColorValues-inputs.ColorValues-inputs--mode-hex .Text {
    width: 100%;
    padding: 0; }
  .ColorValues-inputs.ColorValues-inputs--mode-hex .Text-label {
    text-align: center; }
  .ColorValues-inputs.ColorValues-inputs--mode-hex .Text-input {
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .ColorValues-inputs.ColorValues-inputs--mode-hex input {
    width: auto;
    -ms-flex: 1;
        flex: 1; }
  .ColorValues-inputs > *:not(:last-child) {
    padding-right: 5px; }
  .ColorValues-inputs input {
    max-width: 100%;
    min-width: 0;
    resize: none;
    text-align: center; }

.ColorValues-mode {
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-align: center; }
  .ColorValues-mode:hover {
    cursor: pointer;
    background: #f0f2f4; }
.Dimension-label {
  font-size: 10px;
  opacity: 0.5; }

.Dimension {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: stretch;
      justify-content: stretch;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex: 1;
      flex: 1;
  font-size: 11px; }
  .Dimension-input {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
    width: 100%; }
  .Dimension-units {
    position: absolute;
    right: 4px;
    opacity: 0.5; }
  .Dimension input {
    width: 100%;
    border: 1px solid #c4c5c5;
    border-radius: 2px; }
    .Dimension input::-webkit-inner-spin-button {
      display: none; }
.Text-label {
  font-size: 10px;
  opacity: 0.5; }

.Text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 100%; }
  .Text-prefix {
    padding: 2px 3px;
    background: #f0f2f4;
    border: 1px solid #c4c5c5;
    border-right: none;
    border-radius: 2px 0 0 2px;
    font-size: 10px; }
  .Text.Text--has-prefix .Text-input {
    display: -ms-flexbox;
    display: flex; }
  .Text.Text--has-prefix input {
    border: 1px solid #c4c5c5;
    border-radius: 0 2px 2px 0; }
.ColorSwatches-color {
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 2px; }
  .ColorSwatches-color:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25); }

.ColorSwatches-label {
  display: block;
  padding-bottom: 5px;
  text-align: left;
  font-size: 11px; }

.ColorSwatches-vars {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
@keyframes tooltipPop {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 10px); }
  20% {
    opacity: 1;
    transform: translate(-50%, 0); }
  90% {
    opacity: 1;
    transform: translate(-50%, 0); }
  100% {
    opacity: 0;
    transform: translate(-50%, 0); } }

.Tooltip:not(.Tooltip--expiring) {
  position: relative; }
  .Tooltip:not(.Tooltip--expiring):before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22#f0f2f4%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all .18s ease-out .18s;
    content: '';
    position: absolute;
    z-index: 10; }
  .Tooltip:not(.Tooltip--expiring):after {
    opacity: 0;
    pointer-events: none;
    transition: all .18s ease-out .18s;
    background: #f0f2f4;
    border-radius: 4px;
    color: #141516;
    content: attr(data-tooltip);
    font-size: 10px;
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10; }
  .Tooltip:not(.Tooltip--expiring):hover:before, .Tooltip:not(.Tooltip--expiring):hover:after, .Tooltip:not(.Tooltip--expiring)[data-tooltip-visible]:before, .Tooltip:not(.Tooltip--expiring)[data-tooltip-visible]:after {
    opacity: 1;
    pointer-events: auto; }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-break]:after {
    white-space: normal; }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos="top"]:after {
    bottom: 100%;
    left: 50%;
    margin-bottom: 11px;
    transform: translate(-50%, 10px);
    transform-origin: top; }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos="top"]:before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    transform: translate(-50%, 10px);
    transform-origin: top; }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos="top"]:hover:after, .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos="top"][data-tooltip-visible]:after {
    transform: translate(-50%, 0); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos="top"]:hover:before, .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos="top"][data-tooltip-visible]:before {
    transform: translate(-50%, 0); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='bottom']:after {
    left: 50%;
    margin-top: 11px;
    top: 100%;
    transform: translate(-50%, -10px); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='bottom']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22#f0f2f4%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    left: 50%;
    margin-top: 5px;
    top: 100%;
    transform: translate(-50%, -10px); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='bottom']:hover:after, .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='bottom'][data-tooltip-visible]:after {
    transform: translate(-50%, 0); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='bottom']:hover:before, .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='bottom'][data-tooltip-visible]:before {
    transform: translate(-50%, 0); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='left']:after {
    margin-right: 11px;
    right: 100%;
    top: 50%;
    transform: translate(10px, -50%); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='left']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22#f0f2f4%22%20transform%3D%22rotate(-90 18 18)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 6px;
    height: 18px;
    margin-right: 5px;
    right: 100%;
    top: 50%;
    transform: translate(10px, -50%); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='left']:hover:after, .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='left'][data-tooltip-visible]:after {
    transform: translate(0, -50%); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='left']:hover:before, .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='left'][data-tooltip-visible]:before {
    transform: translate(0, -50%); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='right']:after {
    top: 50%;
    left: 100%;
    margin-left: 11px;
    transform: translate(-10px, -50%); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='right']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22#f0f2f4%22%20transform%3D%22rotate(90 6 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 6px;
    height: 18px;
    top: 50%;
    left: 100%;
    margin-left: 5px;
    transform: translate(-10px, -50%); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='right']:hover:after, .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='right'][data-tooltip-visible]:after {
    transform: translate(0, -50%); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='right']:hover:before, .Tooltip:not(.Tooltip--expiring)[data-tooltip-pos='right'][data-tooltip-visible]:before {
    transform: translate(0, -50%); }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-length="small"]:after {
    white-space: normal;
    width: 80px; }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-length="medium"]:after {
    white-space: normal;
    width: 160px; }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-length="large"]:after {
    white-space: normal;
    width: 240px; }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-length="xlarge"]:after {
    white-space: normal;
    width: 90vw; }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-length='fit']:after {
    width: 100%;
    white-space: normal; }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-length='micro']:after {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
    line-height: 3; }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-align='left']:after {
    text-align: left; }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-align='center']:after {
    text-align: center; }
  .Tooltip:not(.Tooltip--expiring)[data-tooltip-align='right']:after {
    text-align: right; }
